

#formAdmin {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  width: 80%;
  margin: 0 auto;
  margin-top: 5%;
}


input {
  width: 100%;
  box-sizing: border-box;
}

.field{
  padding: 12px 20px;
  margin: 8px 0;
  color : grey;
  overflow: hidden;
}

.btn{
    background-color: white;
    border: solid;
}

textarea {
  width: 100%;
  box-sizing: border-box;
  height: 150px;
}