<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
	<head>
		<title>Accueil</title>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

		<link rel="stylesheet" href="css/styleAccueil.css">
		<link href="http://fr.allfont.net/allfont.css?fonts=oranienbaum" rel="stylesheet" type="text/css" />
	</head>
	<body>

		{{ include('banner.html.twig') }}

<div class="container-fluid">
	<div class="row">
  		<div class="col-xl-4">
  			{{ include('menu.html.twig') }}
  		</div>
  		<div class="col-xl-8">
  			<div id="presentation">
				<p> Bienvenue chez TIME CHIPS & GRILL ! </p> </br>
				<p> Situé dans la commune de Raismes, à proximité de la grand place et du parc loisirs et nature de la porte du Hainaut </p>
				<p> C'est dans un cadre chaleureux et convivial que Dorine et Arnaud sont heureux de vous accueillir. </p>
				<p> Après plus de 26 ans d'expériences en Friterie ambulante et en restauration rapide, l'aventure continue avec ce nouveau restaurant. </p>
				<p> Service sur place ou à emporter. </p> </br>
				<p> A très vite. </p>
			</div>
  		</div>

	</body>
</html