<div id="menu">
    <nav class="codrops-demos">
        
        {% if app.request.pathinfo == "/" %}         
            <a href="/" class="disabled">Accueil</a>
        {% else %}
            <a href="/">Accueil</a>
        {% endif %}
        
        {% if app.request.pathinfo == "/menus" %}         
            <a href="/menus" class="disabled">Menu</a>
        {% else %}
            <a href="/menus">Menu</a>
        {% endif %}
        
        {% if app.request.pathinfo == "/infos" %}         
            <a href="/infos" class="disabled">Infos pratiques</a>
        {% else %}
            <a href="/infos">Infos pratiques</a>
        {% endif %}
        

        <a href="index3.html">Avis</a>
        <a href="index3.html">Album photo</a>
    </nav>
</div>