		<div id="menu">
			    <nav class="codrops-demos">
                  <a class="current-demo" href="/">Accueil</a>
                  <a href="/menus">Menu</a>
                  <a href="/infos">Infos pratiques</a>
                  <a href="index3.html">Avis</a>
                  <a href="index3.html">Album photo</a>
                </nav>
		</div>